.navbar-custom {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  font-weight: 500;
  background: #5bc28b;
}
.navbar-custom .navbar-brand {
  padding: 11px 0 0 15px; }
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #f9faf9; }

.navbar-custom li a {
  position: relative;
  padding-top: 10px;
  display: block;
  color: white;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; }
.navbar-custom li a:hover, .navbar-custom li a:focus {
  color: #f9faf9; }

.site_header_nav {
  list-style-type: none; }

.navbar-collapse {
  border: none; }

.landing_hero .navbar-custom li > a {
  padding-top: 10px; }

.nav_underline_wrap {
  position: relative; }

.nav_underline:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #399865;
  opacity: 0;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease; }

.nav_underline:hover, .active .nav_underline {
  text-decoration: none; }
.nav_underline:hover:before, .active .nav_underline:before {
  bottom: -4px;
  opacity: 0.85; }

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: #5bc28b;
    border-bottom: 1px solid transparent; }
  .navbar-custom .navbar-brand {
    margin-top: 8px; }
  .navbar-custom .site_header_nav {
    list-style-type: none;
    float: right;
    padding: 15px; }
  .navbar-custom .navbar-right .site_header_nav li {
    margin-left: 30px;
    float: left; }
  .navbar-custom .navbar-left .site_header_nav li {
    margin-right: 30px;
    float: left; } }

@media only screen and (max-width: 768px) {
  .navbar-custom {
    background: #5bc28b;
    border-bottom: 1px solid #48bb7e; }
  .navbar-custom .nav_underline:before {
    height: 0px; }
  .navbar-custom .navbar-collapse {
    box-shadow: 0 2px 2px rgba(91, 194, 139, 0.25); }
  .navbar-custom .site_header_nav {
    padding: 0; }
  .navbar-custom .site_header_nav li {
    padding: 5px 20px;
    text-align: center; } }

.navbar-custom .navbar-toggle {
  border: none;
  margin-right: 15px;
  margin-top: 15px; }
.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
  width: 30px;
  height: 4px;
  border-radius: 0; }
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:active, .navbar-custom .navbar-toggle:focus {
  background-color: #5bc28b; }

.navbar-toggle {
  margin-right: 0px;
  padding: 0px;
  border-radius: 0px; }

.navbar-collapse {
  border-top: none;
  box-shadow: none; }

.message-bar {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #36333f;
  color: #fff; }

.btn-default {
  color: #1a1627;
  background-color: white;
  border-color: #dadada; }
.btn-default:hover {
  background-color: white;
  border-color: #1391a4; }
.btn-default.active {
  background-color: white;
  border-color: #a7a7a7;
  box-shadow: inset 0 2px 4px #b4b4b4; }

.btn-outline--inverse, .btn-action, .btn-outline {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.btn-outline--inverse:hover, .btn-action:hover, .btn-outline:hover {
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.15);
  text-decoration: none; }

.btn-action {
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(253, 164, 78, 0.85); }
.btn-action:hover {
  border: 1px solid white;
  background-color: rgba(253, 164, 78, 0.95); }

.btn-outline {
  border: 1px solid rgba(91, 194, 139, 0.5);
  background-color: rgba(91, 194, 139, 0.65); }
.btn-outline:hover {
  border: 1px solid #5bc28b;
  background-color: rgba(91, 194, 139, 0.85); }

.btn-xl {
  padding: 20px 60px; }

.home ~ .site_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  z-index: 100; }
.home ~ .site_footer .footer_nav a {
  color: white;
  -webkit-font-smoothing: antialiased; }
.home ~ .site_footer hr {
  margin-top: 100px;
  border-top: 1px solid #3fab71; }

.site_footer {
  margin-top: 30px; }
.site_footer hr {
  border-top: 1px solid #dadada; }
.site_footer .footer_nav {
  padding: 30px; }
.site_footer .footer_nav a {
  color: #a7a7a7;
  font-weight: 700;
  padding-right: 50px; }
