<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="box">
        <h3>计算商品总价</h3>
        商品名称：<input type="text" v-model="name"> <br><br>
        商品单价：<input type="number" min="0" v-model="price"> <br><br>
        商品数量：<input type="number" min="0" v-model="count"> <br><br>
        <!--只要改变属于vue.data中的任意数据，total方法都会执行一次-->
        <!--总价：<span>{{total()}}</span>-->
        <!--<span>{{totals}}</span>-->
        总价：<input type="text" v-model="totals">
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#box",
            data:{
                price:100,
                count:1,
                name:"react"
            },
            methods:{
                total:function(){//-只要改变属于vue.data中的任意数据，total方法都会执行一次
                    console.log("methods");
                    return this.price*this.count;
                }
            },
            computed:{//计算属性，默认访问的是getter
//                totals:function(){ //当price和count发生改变时才会重新计算
//                    console.log("computed");
//                    return this.price*this.count;
//                }
                //getter和setter
                totals:{
                    get:function(){//totals获取的时候会触发 get
                        return this.price*this.count;//通过单价和数量计算出总价
                    },
                    set:function(e){//totals的属性值被修改时被触发 set
                        this.count = e/this.price;//通过单价和总结计算出数量
                        console.log(e);
                    }
                }
            }
        });
    </script>
</body>
</html>