*{
    margin:0;
    padding:0;
    list-style:none;
}
p{
    width:300px;
    border:1px solid #000;
    margin:0 auto;
    overflow: hidden;
}
p span,li span{
    display:inline-block;
    width:100px;
    height:30px;
    line-height:30px;
    text-align:center;
    float: left;
}
ul{
    width:300px;
    height:auto;
    overflow: hidden;
    margin:0 auto;
    border:1px solid #000;
}