<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="box">
        <h3>商品信息</h3>
        商品名称: <input type="text" v-model="list.name"> <br><br>
        商品单价: <input type="number" min="0" v-model="list.price"> <br><br>
        商品数量: <input type="number" min="0" v-model="list.count"> <br><br>
        <!--商品总计: <span>{{sum}}</span>-->
        商品总计: <input type="text" v-model="sum">
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#box",
            data:{
                list:{
                    name:"react",
                    price:100,
                    count:10
                }
            },
            computed:{
                sum:{
                    get:function(){
                        return this.list.price*this.list.count;
                    },
                    set:function(e){
                        console.log(e);
                        this.list.count = e/this.list.price;
                    }
                }
            }
//            methods:{
//                sum:function(){
//                    console.log(this.list.price);
//                    return this.list.price*this.list.count;
//                }
//            }
        });
    </script>
</body>
</html>