<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="box">
        <input type="text" v-model="val">
        <input type="text" v-model="title">
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                val:"",
                title:"",
                obj:{name:"zhs",age:20}
            },
            watch:{
                val:function(newVal,oldVal){
                    console.log(newVal,oldVal);
                },
                title:"listen",
                obj:{
                    handler:function(newVal,oldVal){
                        console.log(newVal,oldVal);
                    },
                    deep:true
                }
            },
            methods:{
                listen:function(newVal,oldVal){
                    console.log(newVal,oldVal);
                }
            }
        });
        setTimeout(function(){
            vm.obj.name = 100;
            vm.obj.age = 10;
        },3000);
    </script>
</body>
</html>