<% include ../include/header.html  %>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username" class="control-label col-sm-2">用户名</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">密 码</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="text" id="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">邮 箱</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="avatar" class="control-label col-sm-2">头 像</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-upload"></span>
                    </div>
                    <input type="file" id="avatar" name="avatar" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../include/footer.html  %>
