<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="box">
        <h3>我是父组件</h3>
        <input type="text" v-model="val">
        <child :mess="val"></child>
        <child :say="text"></child>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#box",
            data:{
                val:"你好",
                text:"哈哈"
            },
            components:{
                child:{
                    props:["mess","say"],
                    template:"<div><h4>我是子组件</h4><input type='text' v-model='calc.message'></div>",
                    computed:{
                        calc:function(){
                            return {message:this.mess,text:this.say}
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>