<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" class="container" v-cloak>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <caption class="h3 text-center">购物车信息</caption>
                    <tr>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">商品价格</th>
                        <th class="text-center">商品数量</th>
                        <th class="text-center">商品小计</th>
                        <th class="text-center">商品操作</th>
                    </tr>
                    <tr class="text-center" v-for="item in products">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td><input type="number" min="0" v-model="item.count"></td>
                        <td>{{item.price*item.count}}</td>
                        <td><button class="btn btn-danger" @click="remove(item)">删除</button></td>
                    </tr>
                    <tr class="text-center">
                        <td>总计：</td>
                        <td colspan="4">{{sum()}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="username" class="control-label">商品名称</label>
                <input type="text" class="form-control" id="username" v-model="newData.name">
            </div>
            <div class="form-group">
                <label for="tel" class="control-label">商品数量</label>
                <input type="text" class="form-control" id="tel" v-model="newData.price">
            </div>
            <div class="form-group">
                <label for="price" class="control-label">商品价格</label>
                <input type="text" class="form-control" id="price"  v-model="newData.count">
            </div>
            <button type="button" class="btn btn-success" @click="add">添加商品</button>
        </form>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                products:[
                    {name:"react",price:100,count:6},
                    {name:"vue",price:60,count:2},
                    {name:"angularjs",price:50,count:1},
                    {name:"nodejs",price:40,count:55},
                    {name:"javascript",price:80,count:77},
                    {name:"bootstrap",price:30,count:45}
                ],
                newData:{
                    name:"",
                    price:"",
                    count:""
                }
            },
            methods:{
                sum:function(){
                    var total = 0;
                    for(var i=0;i<this.products.length;i++){
                        var curP = this.products[i];
                        total+=curP.price*curP.count;
                    }
                    return total;
                },
                remove:function(user){
                    this.products = this.products.filter(function(item){
                        return item!==user;
                    });
                },
                add:function(){
                    if(this.newData.name&&this.newData.price&&this.newData.count){
                        this.products.push(this.newData);
                        this.newData = {name:"",price:"",count:""};
                    }else{
                        alert("请将信息填写完整");
                    }
                }
            }
        });
    </script>
</body>
</html>