<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top drop-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <ul class="site_header_nav">

                    <li><a class="nav_underline" href="/">Attribution</a></li>
                    <li><a class="nav_underline" href="/pricing">Pricing</a></li>
                    <li><a class="nav_underline muted" href="http://blog.attributionapp.com">Blog</a></li>
                    <li><a class="nav_underline muted" href="https://docs.attributionapp.com">Docs</a></li>
                    <li><a class="nav_underline hide" href="https://demo.attributionapp.com">Live Demo</a></li>
                </ul>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <ul class="site_header_nav">
                    <li><a class="nav_underline" href="https://dashboard.attributionapp.com">Log In</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>