<% include ../include/header.html %>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ol class="breadcrumb">
            <li><a href="/category/list">分类</a></li>
            <li class="active"><%=article.category.name%></li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%=article.title%>
            </div>
            <div class="panel-body">
                <%=article.content%>
            </div>

            <% if(user&&user._id===article.user.id){ %>
            <div class="panel-footer">
                <a href="/article/update/<%=article._id%>" class="btn btn-warning">编辑</a>
                <a href="/article/delete/<%=article._id%>" class="btn btn-danger">删除</a>
            </div>
            <% } %>

        </div>
    </div>
</div>
<% include ../include/footer.html %>